@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "NeoDunggeunmoPro", Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "NeoDunggeunmoPro";
  src: url("/NeoDunggeunmoPro-Regular.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

/* styles.css 또는 globals.css */
@keyframes ping {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  75% {
    transform: scale(1.2);
    opacity: 0.75;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}

.ping-animation {
  animation: ping 1s infinite;
}

/* 동그라미 스타일 */
.notification-dot {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: rgb(244, 73, 5); /* 노란색 */
  border-radius: 50%;
  animation: ping 1s infinite;
}